body{
  background-color: rgb(183, 180, 180);
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  color: rgb(51, 51, 52);
  margin: 0;

}
.upper-container{
 text-align: center;
}
#img-caption{
  position: relative;
  top: 8px;
  padding-bottom: 8px;

}
#img-div{
  background-color: white;
}
#image{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;

}
#tribute-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}